@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply antialiased;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    @apply bg-background text-foreground text-base leading-normal font-sans;
  }

  * {
    @apply border-border;
  }
}

@layer utilities {
  .shimmer {
    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(0, 0, 0, 0.03) 50%,
      transparent 100%
    );
    background-size: 200% 100%;
  }

  /* Hide scrollbar for filter bar */
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
